@import "tailwindcss";
body {
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

#root {
  height: 100vh;
}

input {
  border: 1px solid #0092b8;
  padding: 5px 8px;
  border-radius: 12px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  transform: scale(1.05);
}

li {
  transition: 0.3s;
}

li:hover {
  outline: none;
  color: white;
  transform: scale(1.05);
}
